.container {
  margin: 20px auto 0;
  max-width: 600px;
}
.list {
  font-size: 16px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.list > tr {
  height: 50px;
  line-height: 50px;
  cursor: pointer;
}
.list .col-checked {
  width: 25px;
  padding: 14px 8px;
}
.list .col-title {
  padding: 14px 8px;
}
.list .col-prio {
  width: 50px;
}
